@import '../../styles/mixins';

.test-page {
  text-align: center;
  .app {
    text-align: center;
  }

  .test-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .test-area {
    font-size: large;
    padding: 20px;
    text-align: center;
  }

  .question-text {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .mc-answers {
    font-size: large;
    text-align: left;
    width: 500px;
    margin: 0 auto;
  }
  
  .score-area {
    border-style: double;
    font-size: 25px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

  .mc-option {
    background-color: white;
    color: black;
    width: 500px;
    height: 25px;
    margin: 10px;
    font-size: medium;
    border: 2px solid #4CAF50;
  }
  .mc-option:focus {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btn-next {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .btn-next:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
